- This file should contain you service account key.

- Refer to this docs for creating your service account and a key : 
        https://developers.google.com/identity/protocols/oauth2/service-account#creatinganaccount