# Datasource Configuration
datasource_url=YOUR_DB_URL
datasource_username=YOUR_DB_USERNAME
datasource_password=YOUR_DB_PASSWORD

# JWT Configuration
jwt_secret=YOUR_JWT_SECRET
jwt_expirationInMs=YOUR_JWT_EXPIRATION_TIME_IN_MILLISECONDS
